<head xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Lista ultime frasi utilizzate</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='list_view.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='button.css')}}">
    </head>
<body>
<h1>La lista delle frasi più utilizzate</h1>
<ul>
    {% for value in list %}
    <li>
        <a href="\show\{{type}}\{{value}}">{{value}}</a>
    </li>
    {% endfor %}
</ul>
<form action="\" method="GET">
    <input type="submit" value="Torna alla home">
</form>
</body>
</html>
